.section-home {
	background-image: url(../img/fondo2.jpg);
	background-size: 300px;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	transition: transform 1s;
	z-index: 1;
}

.section-home::before {
	content: "";
	display: inline-block;
	position: absolute;
	background: #2881FB77;
	width: 100%;
	height: 100%;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 70px;
	color: #fff;
	margin:70px 0 100px;
	position: relative;
}

.btn {
	background: #2881FB;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition: transform .3s;
	position: relative;
}

.btn-reset:hover,.btn:hover {transform: scale(1.2);}
.btn-reset:active,.btn:active {background: #4893FA;}




.esconderHome {
	transform: translateY(-103%);
}