/* Contenedor del juego ---------- */
.game-section {
	height: 100%;
}


/* header ---------- */
.game-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	background: #3A4675;
}


/* caja de puntajes */
.game-hero__scoreBox {
	/*outline: 1px solid red;*/
	line-height: 100%;
	padding: 10px 0;
	flex-basis: 50px;
	font-size: 25px;
	display: flex;
	position: relative;
	color: #000b;
}

.game-hero__scoreBox-score {
	flex-grow: 1;
	text-align: center;
	padding: 0 10px;
	font-family: tahoma;
	color: #E3E0E0;
	/*outline: 1px solid red;*/
}

.game-hero__scoreBox-icon {
	/*outline: 1px solid red;*/
	padding: 0 10px;
	color: #5795FB;
}

.game-hero__scoreBox-icon:last-child { color: #F65C6A; }

/* Barra de turno */
.game-hero__scoreBox::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 4px;
	opacity: 0;
	background: #5795FB;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 5px;
	transition: opacity .1s;
}

.low_bar::before { opacity: 1; }


/* Boton de reiniciar */
.game-hero__btnRestart {
	padding: 8px;
	margin: 0 30px;
	background: #5795FB;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
	transition: transform .3s;
}


/* Tablero ------------ */
.board-container {
	background: #242B48;
	padding: 50px 0;
	display: flex;
	justify-content: center;
}

.board {
	width: 325px;
	height: 325px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
	background: #3A4675;
}

.board__box {
	background: #242B48;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 75px;
	color: #E3E0E0;
	overflow: hidden;
	transition: background .2s;
}

.box_win { animation: win 1s forwards; }
.box_full { animation: full 1s forwards; }

@keyframes win {

	0% { background: #47AA53; }
	25% { background: #242B48; }
	50% { background: #47AA53; }
	75% { background: #242B48; }
	100% { background: #47AA53; }
}

@keyframes full {

	0% { background: #FC6060; }
	25% { background: #242B48; }
	50% { background: #FC6060; }
	75% { background: #242B48; }
	100% { background: #FC6060; }
}

@keyframes rotate {
	100% { transform: rotate(180deg); }
}

