/** Diseño pensado en Mobile first */
/*
    Se usa :active para mostrar interacción en mobile ya que cambia 
    al estilo de active y vuelve al estilo original. En cambio con :hover se 
    queda el estilo de hover aplicado.
*/

:root {

    --white: #fff;
    --charcoal: #374151;
    --blue-gray: #4E5D73;
    --mint-green: #4DC275;
    --royal-blue: #6679f1;
    --salmon-pink: #D56565;
    --olive-yellow: #CDAF1D;
    --midnight-blue: #181B2F;
    --royal-blue-300: #4659d0;
    --dark-blue-gray: #272D3F;
    --very-light-blue: #bcbcd4;
    --salmon-pink-300: #e75252;

    --shadow: 0 6px 0 #0F111E;
    --time: .2s;
    --radius: 10px;
}

body {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--midnight-blue);
    font-family: 'Fredoka', sans-serif;
    color: var(--very-light-blue);
}

.main {
    width: min(320px, 90%);
    height: 100dvh;
    margin: 0 auto;
    padding: 25px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-x {
    color: var(--salmon-pink);
}

.icon-o {
    color: var(--royal-blue);
}


/** Sección de turno de jugador  */
.header {
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

.header__icons {
    align-content: center;
}

.turn {
    background-color: var(--dark-blue-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    font-weight: 600;
    padding: 0 10px;

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.turn__text {
    font-size: 28px;
    margin-left: 10px;
}

.button-reset {
    padding: 15px;
    background-color: var(--dark-blue-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition-property: transform, background-color, color;
    transition-duration: var(--time);
}

.button-reset:active {
    background-color: var(--olive-yellow);
    color: var(--midnight-blue);
    transform: scale(.9);
}


/** Sección del tablero de juego */
.board {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.board__slot {
    background-color: var(--dark-blue-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: background-color var(--time);

    text-align: center;
    align-content: center;
    font-size: 2.5rem;
}

.board__slot:active {
    background-color: var(--charcoal);
}

.board__slot[class*="icon"] {
    animation-name: showIcon;
    animation-duration: var(--time);
}

@keyframes showIcon {
    from {
        font-size: 0px;
    }

    to {
        font-size: 2.5rem;
    }
}

.wall {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.wall--show {
    z-index: 1;
}



/*? Esto se podría mejorar  */
/* Animación tablero lleno y jugador ganador  */
/* 
    Se usó la clase ".board__slot" para igualar la especificidad con el selector
    ".board__slot[class*="icon"]" para que funcione la animación.
*/
.board__slot.board__slot--win {
    animation-name: player-win;
}

.board__slot.board__slot--full {
    animation-name: board-full;
}

.board__slot--win,
.board__slot--full {
    color: var(--very-light-blue);
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
}

@keyframes player-win {
    100% {
        background-color: var(--mint-green);
    }
}

@keyframes board-full {
    100% {
        background-color: var(--salmon-pink);
    }
}



/** Sección de puntos del jugador ---> */
.marker {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.player {
    padding: 5px 15px;
    background-color: var(--salmon-pink-300);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: transform var(--time);

    font-size: 1.875rem;
    font-weight: 600;
    user-select: none;

    display: flex;
    justify-content: space-between;
}

.player:nth-child(2) {
    background-color: var(--royal-blue-300);
}

.player:nth-child(2):active {
    background-color: var(--royal-blue);
    transform: scale(.9);
}



/** Mensaje de info de como cambiar modo de juego */
.msg-box {
    padding: 20px;
    width: max-content;
    background-color: var(--blue-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    position: absolute;
    z-index: 10;
    bottom: 150%;
    right: 10px;

    animation-name: showMsg;
    animation-duration: var(--time);
    animation-delay: 1s;
    animation-fill-mode: both;
}

.msg-box:has(input:checked) {
    animation-name: removeMsg;
    animation-delay: 0s;
}

.msg__title {
    font-weight: 600;
    font-size: 1.5625em;
}

.msg__text {
    font-weight: 400;
    font-size: 1.375em;
}

.msg__label {
    position: absolute;
    top: -10px;
    right: -10px;
}

.msg__icon {
    background-color: white;
    color: var(--salmon-pink);
    font-size: 37px;
    border-radius: 100%;
}

.msg__icon:active {
    color: var(--salmon-pink-300);
}

/* Flecha del mensaje */
.msg-box::before {
    content: "";
    display: block;
    width: 50px;
    height: 30px;
    background-color: inherit;
    clip-path: polygon(0 0, 100% 0, 50% 100%);

    position: absolute;
    right: 20px;
    bottom: -25px;
}

@keyframes showMsg {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes removeMsg {
    100% {
        transform: scale(0);
        opacity: 0;
        display: none;
    }
}



/** Sección de enlaces ---> */
.links {
    font-size: 1.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.link__github {
    text-decoration: none;
    font-size: 1.8rem;
}

.link__github:active {
    color: var(--white);
}

.link__portfolio {
    color: var(--olive-yellow);
}

.link__portfolio:active {
    text-decoration: underline;
}



@media (width < 330px) {
    .header__icons {
        display: none;
    }

    .msg-box {
        width: 90%;
        font-size: .875rem;
    }
}

@media (width > 400px) {
    html {
        font-size: 14px;
    }

    .button-reset:hover {
        background-color: var(--olive-yellow);
        color: var(--midnight-blue);
        cursor: default;
    }

    .board__slot:hover:not([class*="icon"]) {
        background-color: var(--charcoal);
    }

    .player:hover:nth-child(2) {
        background-color: var(--royal-blue);
    }

    .msg__icon:hover {
        color: var(--salmon-pink-300);
    }

    .link__portfolio:hover {
        color: var(--white);
    }

    .link__github:hover {
        color: var(--white);
    }
}

@media (width > 900px) {
    .msg-box {
        bottom: 0;
        left: 110%;
    }

    .msg-box::before {
        left: -28px;
        bottom: 0;
        width: 30px;
        height: 50px;
        clip-path: polygon(0 50%, 100% 20%, 100% 80%);
    }
}