* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --black: #000;
    --white: #fff;
    --midnight-blue: #181B2F;
    --dark-blue-gray: #272D3F;
    --charcoal: #374151;
    --blue-gray: #4E5D73;
    --very-light-blue: #DDDDDE;
    --royal-blue: #7D8EFF;
    --royal-blue-300: #4659d0;
    --salmon-pink: #D56565;
    --salmon-pink-300: #e44646;
    --olive-yellow: #CDAF1D;
    --mint-green: #4DC275;
    
    --shadow: 0 6px 0 #0F111E; 
    --time: .3s;
    --radius: 10px;
}

body {
    background-color: var(--midnight-blue);
    font-family: 'Fredoka', sans-serif;
    color: var(--very-light-blue);
}

.container {
    margin: 0 auto;
    max-width: 90%;
    padding: 30px 0;
    height: 100dvh;
    aspect-ratio: 1/2;

    display: flex;
    flex-direction: column;
    gap: 30px;
}



.header {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.header__icons {
    flex-grow: 1;
}

.icon-x {
    color: var(--salmon-pink);
}
.icon-o {
    color: var(--royal-blue);
}

.header__turn {
    background-color: var(--dark-blue-gray);
    padding: 10px 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    gap: 10px;
}

.header__cta-cont {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    height: 100%;
}

.header__cta {
    padding: 0 15px;
    background-color: var(--dark-blue-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    border: none;

    font-size: inherit;
    color: inherit;
}



.board-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.board {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    position: relative;
}

.board__item {
    background-color: var(--dark-blue-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: grid;
    place-items: center;
    font-size: 2.5rem;
}

.wall {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.wall--show {
    z-index: 1;
}



.score {
    display: flex;
    gap: 20px;
    position: relative;
}

.score__player {
    background-color: var(--salmon-pink);
    padding: 5px 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    font-size: 1.875rem;
    font-weight: 600;
    user-select: none;
    width: 100%;

    flex-grow: 1;
    display: flex;
    align-items: center;
}

.score__point {
    flex-grow: 1;
    font-size: 2.5rem;
}

.score__point:nth-child(2) {
    text-align: right;
}

.score__player:nth-child(2) {
    background-color: var(--royal-blue-300);
}


.message-box {
    width: max-content;
    padding: 20px;
    background-color: var(--blue-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    position: absolute;
    z-index: 10;
    bottom: 150%;
    right: 10px;

    animation-name: showSms;
    animation-duration: .3s;
}

@keyframes showSms {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.message-box::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color:var(--blue-gray);
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    
    position: absolute;
    top: 80%;
    right: 20px;
}

.message__title {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.message__text {
    font-size: 1.375rem;
    position: relative;
    z-index: 1;
}

.message__cta {
    background-color: var(--very-light-blue);
    border-radius: 50%;
    font-size: 2.3125rem;
    color: var(--salmon-pink);
    
    position: absolute;
    top: -10px;
    right: -10px;
}



.links {
    font-size: 1.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link__portfolio {
    color: inherit;
}

.link__github {
    text-decoration: none;
    font-size: 2.1875rem;
    color: inherit;
}



.modal-bg {
    width: 100%;
    height: 100%;
    background-color: #0F111E99;

    display: flex;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
}

.modal {
    flex-grow: 1;
    height: 300px;
    background-color: var(--dark-blue-gray);

    display: grid;
    place-content: center;
    justify-items: center;
    gap: 40px;
}

.modal__text {
    font-size: 2.5rem;
}

.modal__icon {
    font-size: 70px;
}

.modal--show {
    visibility: visible;
    z-index: 20;
}




/* Interactions - Hovers  */
.header__cta:hover {
    background-color: var(--olive-yellow);
    color: var(--black);
    transition-property: transform;
    transition-duration: var(--time);
}

.header__cta:active {
    transform: scale(.9);
}

.board__item:not([class*="icon"]):hover {
    transition: background-color var(--time);
}
.board__item:not([class*="icon"]):hover {
    background-color: var(--charcoal);
}

.link__portfolio:hover {
    color: var(--olive-yellow);
}

.link__github:hover {
    color: var(--white);
}

.score__player:nth-child(2):hover {
    background-color: var(--royal-blue-300);
    transition: transform var(--time);
}
.score__player:nth-child(2):active {
    transform: scale(.9);
}

.message__cta:hover {
    color: var(--salmon-pink-300);
}



.board__item--win {
    animation-name: item-win;
}
.board__item--full {
    animation-name: item-full;
}

.board__item--win,
.board__item--full {
    color: var(--very-light-blue);
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
}


@keyframes item-win {
    100% {
        background-color: var(--mint-green);
    }
}
@keyframes item-full {
    100% {
        background-color: var(--salmon-pink);
    }
}



@media (width > 400px) {
    .score__point {
        font-size: 2.1875rem;
    }

    .score__player,
    .message__title {
        font-size: 1.5rem;
    }
    
    .links,
    .message__text {
        font-size: 1.125rem;
    }

    .message-box::before {
        top: 78%;
    }

    .link__github,
    .message__cta {
        font-size: 1.875rem;
    }    
}

@media (width < 320px) {
    html {
        font-size: 12px;
    }
}

@media (width > 800px) {
    .message-box {    
        bottom: 0;
        left: 110%;
    }
    
    .message-box::before {
        left: -20px;
        top: 55%;
    }
}